body {
  font-family: 'fantasy', 'sans-serif';
  font-size: 20px;
}

h1, h2 {
  background-color: aqua;
}

h1, h2 {
  margin: 12px 0;
  padding: 15px;
  border-radius: 9px;
}

p a {
  color: darkorange;
}

p a:hover {
  color: red;
  text-decoration: underline;
}

#change {
font-family: 'Times New Roman', Times, serif;
font-style: italic;
color:rgb(122, 170, 233)
}

.special-text {
  color: rgb(255, 80, 124) !important; 
}

li {
  font-style: italic;
}
